@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

body {
  background-color: #a0adb1;
  background-image: radial-gradient(#a6a6a6, #9a9a9a);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Noto Sans KR', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

@keyframes pop {
  0% {transform: scale(.95); opacity: .8;}  
  100% {transform: scale(1); opacity: 1;}  
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #949494;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8f8f;
}
::-webkit-scrollbar-thumb:active {
  background: rgb(255, 99, 99);
}
::-webkit-scrollbar-track {
  background: #4a4c50;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #a89c9c;
}
::-webkit-scrollbar-track:active {
  background: #bab1b1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 600px) {
  .show-at-md {
    display: none !important;
  }
}